$button-height : 2rem;
$button-color: rgb(0, 0, 0);

.player {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: yellow;
}

.album-art{
    height: 400px;
    width: 400px;
    background-size: cover;
}



.fake-player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: auto;
    padding: 2rem;
    border: 0.2rem solid var($button-color);
    border-radius: 50%;
    filter: drop-shadow(0 0 3.1rem rgba(255,255,255, 0.8));
    margin: auto;
    margin-top: 8rem;
}

button {
    margin: 0;
    padding: 0;
}

.play {
    height: 0;
    width: 0;
    margin-left: calc(2 * 0.14 * var($button-height));
    /*margin-left: 17px;*/
    background: none;
    border: none;
    border-top: var($button-height) solid transparent;
    border-bottom: var($button-height) solid transparent;
    border-left: calc(var($button-height) * 2 * 0.86) solid var($button-color);
}

.pause {
    position: relative;
    background: none;
    border: none;
    height: calc(var($button-height) * 2);
    width: calc(var($button-height) * 2 * 0.86);
    &:before, &:after {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 33%;
        background: var($button-color);
    }
    &:before {
        left: 0;
    }
    &:after {
        right: 0;
    }
}
